*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

}
header{
    position: sticky;
}
nav .logo {
    display: flex;
    margin-top: 10px;
    background-color: #241ba1;
    color: white;
    padding: 20px;
    justify-content: center;
}
nav .menu{
    display: flex;
    background-color: #333;
    height: 50px;
    color: #fff;
    justify-content: center;
}
.menu ul {
    margin-top: 15px;
    list-style: none;
    display: flex;
    font-family: sans-serif;
    font-size: 20px;
    justify-content: space-around;
    gap: 100px;
}
.menu span {
    margin: 0 10px;
    color: rgb(165, 165, 194);
}
.line{
    border: none;
    height: 2px;
    background-color: rgb(230, 230, 230);
    width: 90%;
    margin: 20px auto;
}
.welcome{
    text-align: center;
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 20px;
    color: rgb(9, 29, 88);
    
}
.info-lead{
    width: 65%;
    margin:  auto;
    line-height: 1.6;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}
.info-rest{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 18px;
}
.image{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
 img {
    width: 50%;
}

footer{
    background-color:#000544;;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

